.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  display: grid;
  gap: 0.75rem;
  padding-left: 1.25rem;
}

li {
  display: flex;
  gap: 1rem;
  align-items: center;
}
